@import "~bootstrap/scss/bootstrap.scss";
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
    box-sizing: border-box;
    display: flex;
    background-color: aqua;
}
body{
    width: 900px;
    align-items: center;
    background-color: white;
}

h1 {
  font-size: 5em;
  text-align: center;
}
.tasklefttext {
  font-size: 1.3em;
  font-weight: bold;
}